@use "../abstracts/colors" as clr;

.code {
  display: block;
  &__content {
    background: none;
    font-family: "JetBrains Mono", monospace;
    display: block;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    font-size: clamp(15px, 3vw, 16px);
    line-height: 1.5;
    tab-size: 4;
    overflow: auto;
    color: clr.$code-primary;
    padding-bottom: 20px;
    list-style: none;
  }

  &__comment {
    color: clr.$code-comment;
  }
  &__punctuation {
    color: clr.$code-punctuation;
  }
  &__boolean {
    color: clr.$code-boolean;
  }
  &__function {
    color: clr.$code-function;
  }
  &__number {
    color: clr.$code-number;
  }
  &__keyword {
    color: clr.$code-keyword;
  }
  &__string {
    color: clr.$code-string;
  }
  &__regex {
    color: clr.$code-regex;
  }
  &__operator {
    color: clr.$code-operator;
  }
}
