.link {
  cursor: pointer;
  width: max-content;
  max-width: 100%;
  &_type {
    &_inline-text {
      text-decoration: underline;
      transition: filter 100ms ease;
      color: inherit;
      &:hover,
      &:active {
        filter: brightness(0.6);
      }
    }
    &_primary {
      position: relative;
      transition: filter 200ms ease;
      &::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform: scaleX(0);
        height: 2px;
        background-color: currentColor;
        transform-origin: left;
        transition: transform 0.3s cubic-bezier(0.8, 0.61, 0.13, 0.99);
      }
      &:hover,
      &:active {
        filter: brightness(2);
        &::before {
          transform: scaleX(1);
        }
      }
    }
  }
}
