@use "../abstracts/colors" as clr;

.section {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  &__content {
    background-color: clr.$primary-700;
    min-height: 400px;
    border-radius: 10px;
  }
}
