@use "../abstracts/colors" as clr;
@use "../abstracts/variables" as var;
.slider {
  background-color: clr.$primary-800;
  margin: 0 calc(-1 * #{var.$page__container-padding});
  overflow: hidden;
  padding: 10px 0;

  &__slide {
    animation: slide 25s linear normal infinite;
    @keyframes slide {
      100% {
        transform: translate(-100%);
      }
    }
  }
}
