@use "../abstracts/colors" as clr;
@use "sass:selector";
$-social-list: (
  discord: clr.$social-discord,
  github: clr.$social-github,
  telegram: clr.$social-telegram,
);

.social-button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: clr.$social-primary;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: clr.$primary-900;
  transition: background-color 200ms ease, color 200ms ease;
  &__icon {
    font-size: 37px;
  }
  @each $social, $clr in $-social-list {
    &_#{$social}:hover,
    &_#{$social}:active,
    &_#{$social}:focus {
      background-color: $clr;
      color: clr.$social-icon-hover;
    }
  }
}
