<footer class="footer">
  <ul class="social-list">
    <li class="social-list__item">
      <a aria-label="link to my discord" href="#" class="social-button">
        <i class="bx bxl-discord-alt"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a aria-label="link to my github" href="#" class="social-button">
        <i class="bx bxl-github"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a aria-label="link to my telegram" href="#" class="social-button">
        <i class="bx bxl-telegram"></i>
      </a>
    </li>
  </ul>
  <small class="text text_size_xs">
    &copy;&nbsp;All rights reserved
  </small>
</footer>
