<footer class="footer">
  <ul class="social-list">
    <li class="social-list__item">
      <a
        aria-label="link to my discord"
        href="https://discord.com/users/522730231543627796"
        class="social-button social-button_discord"
      >
        <i class="bx bxl-discord-alt social-button__icon"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a
        aria-label="link to my github"
        href="https://github.com/KUSTIKs"
        class="social-button social-button_github"
      >
        <i class="bx bxl-github social-button__icon"></i>
      </a>
    </li>
    <li class="social-list__item">
      <a
        aria-label="link to my telegram"
        href="https://t.me/Artem_Kustikovich"
        class="social-button social-button_telegram"
      >
        <i class="bx bxl-telegram social-button__icon"></i>
      </a>
    </li>
  </ul>
  <small class="text text_size_xs text_color_secondary">
    &copy;&nbsp;All rights reserved
  </small>
</footer>
