@use "../abstracts/colors" as clr;

.text {
  color: clr.$txt-primary;
  font-family: "Poppins", sans-serif;
  font-size: clamp(15px, 3vw, 16px);
  font-weight: 400;
  &_size {
    &_xs {
      font-weight: 300;
    }
    &_m {
      font-size: clamp(16px, 2.5vw, 18px);
    }
    &_l {
      font-size: clamp(20px, 3vw, 24px);
      font-weight: 700;
    }
    &_xl {
      font-size: clamp(24px, 4vw, 32px);
      font-weight: 800;
    }
  }
  &_color {
    &_secondary {
      color: clr.$txt-secondary;
    }
    &_disabled {
      color: clr.$txt-disabled;
    }
  }
  &_caret {
    &_before {
      position: relative;
      &::before {
        content: "|";
        font-weight: 300;
        position: absolute;
        transform: translate(-50%);
        color: clr.$txt-primary;
        animation: blink 2s steps(1) infinite;
      }
    }
  }
}
@keyframes blink {
  45% {
    opacity: 0;
  }
}
