@use "../abstracts/colors" as clr;
@use "../abstracts/variables" as var;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: clr.$primary-600 clr.$primary-800;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background-color:  clr.$primary-800;
  }

  &::-webkit-scrollbar-thumb {
    background-color:  clr.$primary-600;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
  padding: 60px 30px;
  background-color: clr.$background;

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    background-color: clr.$primary-900;
    border-radius: 20px;
    padding: var.$page__container-padding;
    padding-top: var.$page__container-padding-top;
  }

  @media (max-width: 650px) {
    margin: 0;
    padding: 0;
    background-color: clr.$primary-900;
    padding: 0;

    &__container {
      border-radius: 0;
    }
  }
}

.separator {
  height: 2px;
  width: 100%;
  margin: 30px 0;
  border: none;
  background-color: clr.$primary-600;
}