.header {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  &__image {
    $avatar-size: clamp(100px, 15vw, 130px);
    height: $avatar-size;
    width: $avatar-size;
    object-fit: cover;
  }
  &__name {
    margin-bottom: 0.25em;
  }
  @media (max-width: 425px) {
    flex-direction: column;
    text-align: center;
  }
}
