<div class="education-section__cards cards-grid">
  <input
    class="card-input"
    type="radio"
    name="education-element"
    id="cs50-card"
    checked
  />
  <label class="education-section__card image-card" for="cs50-card">
    <img
      class="image-card__image image-card__image_full-size"
      src="img/education/cs50.svg"
      alt="CS50 logo"
    />
  </label>
  <input
    class="card-input"
    type="radio"
    name="education-element"
    id="mdn-card"
  />
  <label class="education-section__card image-card" for="mdn-card">
    <img
      src="img/education/mdn.svg"
      alt="MDN logo"
      class="image-card__image image-card__image_full-size"
    />
  </label>
  <input
    class="card-input"
    type="radio"
    name="education-element"
    id="codewars-card"
  />
  <label class="education-section__card image-card" for="codewars-card">
    <img
      src="img/education/codewars.svg"
      alt="codewars logo"
      class="image-card__image image-card__image_full-size"
    />
  </label>
  <input
    class="card-input"
    type="radio"
    name="education-element"
    id="youtube-card"
  />
  <label class="education-section__card image-card" for="youtube-card">
    <img
      src="img/education/youtube.svg"
      alt="YouTube logo"
      class="image-card__image image-card__image_full-size"
    />
  </label>
  <div class="tooltip">
    <div class="tooltip__tail-track cards-grid">
      <div class="tooltip__tail"></div>
    </div>
    <ul class="tooltip__content-list content-wrapper">
      <li data-for="cs50-card" class="tooltip__content">
        <p class="text">
          I&nbsp;took
          <a
            href="https://cs50.harvard.edu/"
            class="link link_type_inline-text"
          >
            CS50
          </a>
          course this winter. It&nbsp;was my&nbsp;first coding experience.
          I&nbsp;really liked CS50 lectures because of&nbsp;its clarity
          in&nbsp;terminology and interesting material. I&nbsp;myself recommend
          it&nbsp;to&nbsp;every newcomer to&nbsp;CS. In&nbsp;my&nbsp;opinion,
          namely, this course inspired me&nbsp;to&nbsp;move further and continue
          exploring the world of&nbsp;programming.
        </p>
      </li>
      <li data-for="mdn-card" class="tooltip__content">
        <p class="text">
          <a
            href="https://developer.mozilla.org/"
            class="link link_type_inline-text"
          >
            MDN
          </a>
          is&nbsp;a&nbsp;very good resource to&nbsp;know more about web
          programming. I&nbsp;always find something new while reading their
          awesome documentation. To&nbsp;my&nbsp;mind, MND is&nbsp;the one
          of&nbsp;the best places to&nbsp;learn about HTML, CSS and&nbsp;JS.
        </p>
      </li>
      <li data-for="codewars-card" class="tooltip__content">
        <p class="text">
          I&nbsp;use
          <a
            href="https://www.codewars.com/"
            class="link link_type_inline-text"
          >
            codewars
          </a>
          pretty often on&nbsp;my&nbsp;leisure-time. There are always some
          interesting katas, that help me&nbsp;to&nbsp;practice my&nbsp;skills
        </p>
      </li>
      <li data-for="youtube-card" class="tooltip__content yt-content">
        <p class="text">
          <a href="https://www.youtube.com/" class="link link_type_inline-text">
            YouTube
          </a>
          is one of those major learning resources. It helped me a lot of times
          to find answers to my questions with clear video explanation, or just
          to learn something new and interesting. Here are some of the channels
          that I mostly watch for learning:
        </p>
        <ul class="yt-content__channels">
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCgkDs77BoEhMIgRUB4MKrtQ"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/bedimcode.jpg"
                alt="bedimcode youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/codecamp.jpg"
                alt="codecamp youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCBlr2jG1onljL-gUy9bbhJw"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/codinglab.jpg"
                alt="codinglab youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/user/schafer5"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/corey-schafer.jpg"
                alt="corey schafer youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCTZRcDjjkVajGL6wd76UnGg"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/dennis-ivy.jpg"
                alt="dennis ivy youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UC_hPYclmFCIENpMUHpPY8FQ"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/django-school.jpg"
                alt="django school youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCedskVwIKiZJsO8XdJdLKnA"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/frilanser-po-zhizni.jpg"
                alt="frilanser po zhizni youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCJZv4d5rbIKd4QHMPkcABCw"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/kevin-powell.jpg"
                alt="kevin powell youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCbwXnUipZsLfUckBPsC7Jog"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/onlinetutorials.jpg"
                alt="online tutorials youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCQtHyVB4O4Nwy1ff5qQnyRw"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/pyplane.jpg"
                alt="pyplane youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
          <li class="yt-content__channel">
            <a
              href="https://www.youtube.com/channel/UCg8ss4xW9jASrqWGP30jXiw"
              class="image-card image-card_size_xs"
            >
              <img
                src="img/yt-avatars/vladelen.jpg"
                alt="vladelen minin youtube avatar"
                class="image-card__image image-card__image_full-size"
              />
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
