<div class="content-wrapper">
  <p class="text">
    I&nbsp;was studying English in&nbsp;my&nbsp;school and with extra classes.
    I&nbsp;have enough knowledge to&nbsp;watch videos and tutorials
    on&nbsp;YouTube. Furthermore, I&nbsp;understand English speech pretty well,
    also&nbsp;I can read documentation in&nbsp;its original form, but still
    my&nbsp;speaking is&nbsp;a&nbsp;little poor.
    <br /><br />
    According to&nbsp;
    <a
      href="https://www.cambridgeenglish.org/test-your-english"
      class="link link_type_inline-text"
    >
      Cambridge English Assessment
    </a>
    test on general English, I&nbsp;have a&nbsp;level between
    B1&nbsp;Preliminary and B2&nbsp;First.
  </p>
</div>
