<h2 class="section__title text text_size_l">
  Technologies, methodologies &amp;&nbsp;apps&nbsp;I use and Learn
</h2>
<div class="slider">
  <ul class="slider__slide rotated-grid">
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/adobe-illustrator.svg"
        alt="adobe illustrator logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/aws.svg"
        alt="aws logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/css.svg"
        alt="css logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/django.svg"
        alt="django logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/figma.svg"
        alt="figma logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/git.svg"
        alt="git logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/github.svg"
        alt="github logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/gulp.svg"
        alt="gulp logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/html.svg"
        alt="html logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/js.svg"
        alt="javascript logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/markdown.svg"
        alt="markdown logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/nodejs.svg"
        alt="node js logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/npm.svg"
        alt="npm logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/postgresql.svg"
        alt="postgresql logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/python.svg"
        alt="python logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/sass.svg"
        alt="sass logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/sqlite.svg"
        alt="sqlite logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/vscode.svg"
        alt="vscode logotype"
     >
    </li>

    <!-- Spare slides -->
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/adobe-illustrator.svg"
        alt="adobe illustrator logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/aws.svg"
        alt="aws logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/css.svg"
        alt="css logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/django.svg"
        alt="django logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/figma.svg"
        alt="figma logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/git.svg"
        alt="git logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/github.svg"
        alt="github logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/gulp.svg"
        alt="gulp logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/html.svg"
        alt="html logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/js.svg"
        alt="javascript logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/markdown.svg"
        alt="markdown logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/nodejs.svg"
        alt="node js logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/npm.svg"
        alt="npm logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/postgresql.svg"
        alt="postgresql logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/python.svg"
        alt="python logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/sass.svg"
        alt="sass logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/sqlite.svg"
        alt="sqlite logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/vscode.svg"
        alt="vscode logotype"
     >
    </li>
    <!-- Spare slides -->
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/adobe-illustrator.svg"
        alt="adobe illustrator logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/aws.svg"
        alt="aws logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/css.svg"
        alt="css logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/django.svg"
        alt="django logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/figma.svg"
        alt="figma logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/git.svg"
        alt="git logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/github.svg"
        alt="github logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/gulp.svg"
        alt="gulp logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/html.svg"
        alt="html logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/js.svg"
        alt="javascript logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/markdown.svg"
        alt="markdown logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/nodejs.svg"
        alt="node js logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/npm.svg"
        alt="npm logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/postgresql.svg"
        alt="postgresql logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/python.svg"
        alt="python logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/sass.svg"
        alt="sass logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/sqlite.svg"
        alt="sqlite logotype"
     >
    </li>
    <li class="rotated-grid__item image-card">
      <img
        class="image-card__image"
        src="img/logos/vscode.svg"
        alt="vscode logotype"
     >
    </li>
  </ul>
</div>
